extends basic.pug
block content
    .container.mt-3
        .row
            div(class='col-sm-12')
                h3 ¡Agrega tu Oferta!
            div(class='d-none d-lg-block col-lg-4 col-xl-3')                
                img(src="/css/panamatrips.png", alt="logo", height="250", width='100%', class='rounded-circle shadow')
            div(class='col-sm-12 col-md-12 col-lg-8 col-xl-9')
                .card.shadow-lg.mb-3
                    .card-header 
                        span(class='fa fa-users fa-1x') ¡Ofertas!
                    .card-body
                        .container
                            .row 
                                h3.col-sm-12 PanamaTrips!
                            form(action="/insertar_ofert", method='post', enctype='multipart/form-data')
                                
                                div(class='form-group row') 
                                    label(class='col-sm-2 col-form-label') Actividad:
                                    .col-sm-10
                                        select(class='form-control', name='actividad')
                                            option(value='a1') Actividad 1
                                            option(value='a2') Actividad 2
                                div(class='form-group row') 
                                    label(class='col-sm-2 col-form-label', for='provincias') Provincia:
                                    .col-sm-10
                                        select(class='form-control', name='provincias')
                                            option(value='bocas') Bocas del Toro
                                            option(value='cocle') Coclé
                                            option(value='colon') Colón
                                            option(value='chiriqui') Chiriquí
                                            option(value='darien') Darién
                                            option(value='herrera') Herrera
                                            option(value='lossantos') Los Santos 
                                            option(value='panama') Panamá
                                            option(value='veraguas') Veraguas
                                            option(value='comarcas') Comarcas 

                                div(class='form-group row has-feedback')
                                    label(class='col-sm-2 col-form-label', for='contrasena') Precios:
                                    .col-sm-5
                                        input(type='text', name='precio', class='form-control pass')
                                    select(class='col-sm-5 form-control', name='sec')
                                                option(value='prexper') Precio por persona
                                                option(value='prexhab') Precio por habitación               
                                
                                div(class='form-group row') 
                                    label(class='col-sm-2 col-form-label', for='tiempo') Tiempo de la Oferta:
                                    .col-sm-10
                                        select(class='form-control', name='tiempo')
                                            option(value='24') 1 Día
                                            option(value='48') 2 Días
                                            option(value='72') 3 Días
                                            option(value='96') 4 Días
                                            option(value='120') 5 Días
                                div(class='form-group row') 
                                    label(class='col-sm-2 col-form-label', for='estado') Estado de la oferta:
                                    .col-sm-10
                                        select(class='form-control', name='estado')
                                            option(value='false') Guardar Oferta
                                            option(value='false') Eliminar Oferta
                                        
                                div(class='form-group row')
                                    .col-sm-12.d-flex.justify-content-end
                                        input.btn.btn-primary.btn-lg.active(type='submit', value='Guardar Datos')
                                    .col-sm-10
                                        a.btn.btn-primary(href='/admin/control', role='button').btn.btn-info Regresar al Panel de control
                                    
                                
                                                        
block scripts 
    script(src="/js/acciones.js")
