extends basic.pug
block header
    link(rel="stylesheet", href="/css/inicio.css")
    link(rel="stylesheet", href="/css/login.css")
block content
        h2 LOGIN

.container
  .row
    .col-md-12
      .pr-wrap
        .pass-reset
          label
            | Enter the email you signed up with
          |                     
          input(type="email", placeholder="Email")
          |                     
          input.pass-reset-submit.btn.btn-success.btn-sm(type="submit", value="Submit")
      |             
      .wrap
        p.form-title
          | Sign In
        |                 
        form.login
          input(type="text", placeholder="Username")
          |                 
          input(type="password", placeholder="Password")
          |                 
          input.btn.btn-success.btn-sm(type="submit", value="Sign In")
          |                 
          .remember-forgot
            .row
              .col-md-6
                .checkbox
                  label
                    input(type="checkbox")
                    |                                     Remember Me
              |                         
              .col-md-6.forgot-pass-content
                a.forgot-pass(href="javascription:void(0)") Forgot Password
  |     
  .posted-by
    | Posted By: 
    a(href="http://www.jquery2dotnet.com") Bhaumik Patel
